<div class="w-full h-30 bg-slate-800">
{{ form_start(formSearch)}}
{{ form_widget(formSearch.searchText)}}
{{ form_end(formSearch)}}
    <div class="w-full zombie">
        <img class="h-10"src="{{ asset('assets/other/zombie.gif') }}" alt="zombie"/>
    </div>
</div>
