@font-face {
    font-family: 'kanit';
    src: url('../assets/font/Kanit-Light.ttf') format('truetype');
   
  }
a .svg-aside {
    display: none;
}

/* Affichez le SVG lorsque vous survolez le lien */
a:hover .svg-aside {
    display: block;
}


#navResponsive{
    display:none;
    z-index:40;
}
#darken {
    background-color: rgba(0, 0, 0, 0.8); /* Arrière-plan sombre avec une opacité de 50% */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 410; /* Assurez-vous que l'arrière-plan sombre est au-dessus de tout le reste */
  }
  
.hidden{
    display:none;
}

h1{
    font-family: 'kanit';
}
 