.screenContainer{
    display: flex;
  

}

.screenContainer{
   
    background: rgba(15, 14, 19, 0.7); 
    padding:50px;
    -webkit-backdrop-filter: blur(40px); /* Utilisation du préfixe -webkit- pour le support WebKit */
    backdrop-filter: blur(40px);
    padding-bottom:400px;
}
.bg-image>img{
    height: 500px;
}
.screen{
    height:130px
}
 

.hidden{
    display:none;
}
.fixed{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.flex{
    display: flex;
}
#modal {
    top: 0;
    left: 0;
    z-index: 1000; /* Assurez-vous que ce nombre est plus élevé que le z-index de tout autre élément sur votre page */
    width: 100vw; /* Utilisez vw (viewport width) pour couvrir toute la largeur de la fenêtre du navigateur */
    height: 100vh; /* Utilisez vh (viewport height) pour couvrir toute la hauteur de la fenêtre du navigateur */
    background-color: rgba(0, 0, 0, 0.7); /* Utilisez rgba pour ajouter de la transparence à votre couleur de fond */
    align-self: center; /* Centre le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
    
}
#modal-img{
    width: 1400px;
    justify-content: center;
    align-self: center;
    margin: auto;
}