

.screenContainer{
    display: flex;
    background: rgba(15, 14, 19, 0.7); 
    padding:50px;
    -webkit-backdrop-filter: blur(40px); /* Utilisation du préfixe -webkit- pour le support WebKit */
    backdrop-filter: blur(40px);
    padding-bottom:400px;
    margin-top: 300px;
    
}

.screen{
    height:130px
}
.hidden{
    display:none;
}
.fixed{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.flex{
    display: flex;
}
#modal {
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.7); 
    align-self: center; 
    justify-content: center; 
    
}
#modal-content{
    width: 1400px;
    justify-content: center;
    align-self: center;
    margin: auto;
}

