.hidden{
    display:none;
}
.fixed{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.tooltip-container {
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    max-width: 200px; 
    word-wrap: break-word; 
}


.hover-me:hover + .tooltip,
.tooltip:hover {
    display: block;
}