{% extends 'base.html.twig' %}

{% block title %}Project Masterpiece
{% endblock %}

{% block body %}
	<div class="w-full">
		<div class="header"></div>
		{% include 'partials/card_container.html.twig' %}
	</div>

{% endblock %}
