@tailwind base;
@tailwind components;
@tailwind utilities;


  
html,body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

select option {
    color: black;
}

button{
    color:white;
}

a{
    text-decoration: none;
    color:white;
    margin:0;
}
body{
    background-color: #15141A;
    display:flex;
    min-width:100%;
}

.searchBar{
    background-color:#15141A;
}




*{
    color:white;
}



.platform>img{
    height: 13px;
   
}
.platform{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.screenshot-image{
    width:100%;
    height: 200px;
    object-fit:cover;
}
.asideContainer{
    display: flex;
    flex-direction: column;
}

.hidden{
    display:none;
}
.fixed{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#modal {
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.7); 
    align-self: center; 
    justify-content: center; 
    
}
#modal-img{
    width: 1400px;
    justify-content: center;
    align-self: center;
    margin: auto;
}
.dp08 {

	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 8px 10px 1px hsla(0,0%,0%,0.14), 
		0px 3px 14px 2px hsla(0,0%,0%,0.12), 
		0px 5px 5px -3px hsla(0,0%,0%,0.2);
}
.dp08:hover {

	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 8px 10px 1px hsla(0, 0%, 100%, 0.14), 
		0px 3px 14px 2px hsla(0, 0%, 100%, 0.12), 
		0px 5px 5px -3px hsla(0, 0%, 100%, 0.2);
}

.zombie {
    animation: marche 14s linear infinite;
}

@keyframes marche {
    0% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(calc(33vw));
    }
}

.add{

}


a:hover .added {
    fill:black;
}

.black{
    color:black;
}

select {
    background-color: #000000; 
    color: #ffffff; 
    border: solid 1px #ffffff;
  }
  
  select option {
    background-color: #000000; 
    color:#ffffff;
  }
 

.nextButton{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
}
.previousButton{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    
}

@media (min-width: 1024px) {
    nav {
      display: block; 
    }
    .previousButton{
        left:12rem;
    }
    
  }
  
  /* Pour écrans moyens et plus petits */
  @media (max-width: 1023px) {
    nav {
      display: none; 
    }
    .previousButton{
        left:1rem;
    }
    .logContainer{
        display:none;
    }
  }

#formRegister[type="text"]{
    color:black;
}

.statusInput{
    background-color:transparent;
}
.statusInput option{
    background-color:transparent !important;
    color:black;
}